<!DOCTYPE html>
<html>
  <head>
    <title>QrOrder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <main class="py-[100px]">
      <%= render 'shared/flash' %>
      <%= yield %>
    </main>

    <%#= だいぶ無理やり %>
    <% if controller.controller_path.split('/')[0] != 'admin' %>
      <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
